.menu-li-i {
	display: inline-block;
	text-align: center;
	width: 1em;
	height: 1em;
	background-position: center;
	margin-right: 5px;
}

.nav-li-i {
	display: inline-block;
	text-align: center;
	width: 1em;
	height: 1em;
	background-position: center;
	margin-right: 5px;
}

